# 🔐 Laravel sensitive
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
nhook.json
secret

# 📦 Dependencies
/vendor/
/node_modules/

# ️ Build & IDE
/public/hot
/public/storage
/storage/*.key
*.log
.idea/
.vscode/
*.swp
*.swo
*~

# ️ System
.DS_Store
Thumbs.db

# 🚫 Node.js config (чтобы Railway не думал, что это Node проект)
package.json
vite.config.js
.nvmrc
package-lock.json